---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Thumbnail from '../assets/exegesis_thumb.svg'
import WarningBanner from '../components/WarningBanner.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={Thumbnail} />
    </head>
    <body>
        <div class="bg-grid"></div>
        <Header />
        <WarningBanner lines={[ '404: Not Found', 'how did you get here?' ]} />
    </body>
</html>
