---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import WarningBanner from '../components/WarningBanner.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={`${SITE_TITLE} — 500`} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div class="bg-grid"></div>
        <Header />
        <WarningBanner lines={[ '500: Internal Server Error', 'something broke on our end. try again in a bit.' ]} />
    </body>
</html>
