---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="About"
  description="About Exegesis"
>
  <h2>About</h2>
  <p>
    Exegesis is a hard sci-fi, zone-fiction setting about strange people and stranger AI in mechanical bodies on an existentially important mission to investigate a Dyson sphere that is eating at their minds, 112.21 light-years from home.
  </p>
  <p>
    This site hosts the entries, codex, and other materials related to the project. More information coming soon.
  </p>
</PageLayout>
