---
const { lines = [], variant = 'warning' } = Astro.props;
const gradientClass = variant === 'nsfw' ? 'nsfw-banner' : '';
---

<style>
  .unfinished-warning {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: var(--warning-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.72em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
  }
  .unfinished-warning.nsfw-banner {
    background: var(--nsfw-gradient);
  }
  .unfinished-warning-text {
    background: black;
    color: yellow;
    padding: 0.1em 1em;
    font-family: var(--font-tiny5);
    text-transform: uppercase;
    z-index: 1;
  }
  .unfinished-warning.nsfw-banner .unfinished-warning-text {
    color: #ff6600;
  }
  @media (max-width: 840px) {
    .unfinished-warning-text {
      width: 80%;
      text-align: center;
    }
  }
</style>

<div class:list={['unfinished-warning', gradientClass]}>
  <span class='unfinished-warning-text'>
    {lines.map((line: string, idx: number) => (
      <>
        {line}
        {idx !== lines.length - 1 && <br />}
      </>
    ))}
  </span>
</div>
