---
const { lines = [] } = Astro.props;
---

<style>
  .unfinished-warning {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: repeating-linear-gradient(
      45deg,
      black 0px,
      black 20px,
      yellow 20px,
      yellow 40px
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.72em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
  }
  .unfinished-warning-text {
    background: black;
    color: yellow;
    padding: 0.1em 1em;
    font-family: "tiny5", monospace;
    text-transform: uppercase;
    z-index: 1;
    /* font-weight: bold; */
  }
  @media (max-width: 840px) {
    .unfinished-warning-text {
      width: 80%;
      text-align: center;
    }
  }
</style>

<div class='unfinished-warning'>
  <span class='unfinished-warning-text'>
    {lines.map((line: string, idx: number) => (
      <>
        {line}
        {idx !== lines.length - 1 && <br />}
      </>
    ))}
  </span>
</div>
