---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import StarfieldBackground from "../components/StarfieldBackground.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: 100%;
        position: relative;
      }
      .prose p {
        margin-bottom: 1em;
      }
      .title {
        margin-bottom: 0;
        padding: 1em 0 0.25em 0;
        text-align: center;
        line-height: 1;
        font-family: var(--font-tiny5);
        background: black;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
      .title h1 {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <StarfieldBackground />

    <Header />

    <main class="crosshair-corners">
      <div class="prose">
        <slot />
      </div>
    </main>
  </body>
</html>
